%nav.navbar.navbar-default.navbar-fixed-top.col-lg-12
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("home/logo.png", onmouseover: "this.src='#{asset_path('home/Logo.png')}'", onmouseout: "this.src='#{asset_path('home/logo.png')}'", class: "logo"), root_path
 
    = render 'layouts/navigation'

    %h1.home_title1
      = t('defaults.title')
    %h3.home_title2
      = t('defaults.ruby')
    %h3.home_title3
      = t('defaults.development') 
    = link_to t('defaults.button_text'), root_path, class: "btn-primary btn-lg how"
    = link_to image_tag("home/arrow_down.png", class: "mouse")