.col-md-8.col-md-offset-2
  %h3 CONTACT US
  = simple_form_for @contact do |f|
    = f.input :email, required: true, input_html: { class: "form-control" }, placeholder: 'E-mail'
    = f.input :name, required: true, input_html: { class: "form-control" }, placeholder: 'Name'
    = f.input :message, as: :text, required: false, input_html: { class: "form-control" }, placeholder: 'Your message'
    = recaptcha_tags  :display => {theme: 'white'}
    = f.button :submit, 'SEND A MESSAGE', {class: 'btn btn-lg btn-primary'}