.proj.col-md-3
  -value = project.title
  %h2{id: "#{value}"}
    = project.title
  .pr
    = render project.project_images
    %p= raw project.body
    %h4 Domain:
    %p= link_to project.title, project.url