/ .nav-page
/= render 'layouts/navigation'
.clear
.container-projects.col-md-12
  %h1= t('.title')
  .gallery.clearfix

    = render projects
  = will_paginate @projects
/ .clear
/ = render 'pages/contact'