
.navbar-fixed-top {
   display: block;
   height: 804px;
   width: 100%;
   background: url('home/bg_1.jpg') repeat-x center bottom;
}
.navbar-default .navbar-nav > li > a{
  color: white;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2;
  font-weight: 600;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #35EDD8;
  border-bottom: 5px solid;
  border-color: #35EDD8;
}
.navbar-right{
  margin-right: 100px;
  margin-top: 40px;
}
.logo{
  margin-top: 20px; 
}
.home_title1,
.home_title2,
.home_title3,
.how{
  position: absolute;
  color: white;
}
.home_title1{
  top: 50%;
  font-size: 50px;
  font-weight: 900;
  left: 35%;
}
.home_title2{
  top: 60%;
  font-weight: 900;
  left: 43.5%;
  font-size: 23px;
}
.home_title3{
  top: 63%;
  font-weight: 900;
  left: 40.5%;
  font-size: 23px;
}
.how{
  top: 68%;
  font-weight: 900;
  left: 40.5%;
  font-size: 20px;
  background-color: white;
    text-decoration: none !important;
    border-radius: 0;
    padding-left: 55px;
    padding-right: 55px;
}
.mouse{
position: absolute;
 top: 85%;
   left: 48%;
}
.mouse:hover{
	margin-top: 25px;
}