-# navigation styled for Bootstrap 3.0

#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav.navbar-right
    %li.animated.infinite.pulse
      = link_to t('defaults.home', class: 'navbar-brand'), root_path
    %li.animated.infinite.flash
      = link_to t('defaults.service', class: 'navbar-brand'), root_path
    %li.animated.infinite.shake
      = link_to t('defaults.projects', class: 'navbar-brand'), projects_path
    %li.animated.infinite.swing
      = link_to t('defaults.contacts', class: 'navbar-brand'), new_contact_path