!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Kverko'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Kverko'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    / = javascript_include_tag 'ckeditor/ckeditor.js'
    = csrf_meta_tags
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %body
    %p.notice= notice
    %p.alert= alert
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
